.footer {
  margin-top: 5rem;
  width: 100%;
  color: #aaa;
  border-top: 2px solid #efefef;

  display: flex;
  justify-content: center;
}

.legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-right: none;
  border-left: none; */
  background-color: #fbfbfb;
  width: 70%;
  height: 7rem;
  max-width: var(--content-width);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 550px) {
  .legal {
    height: 100%;
    padding: 2rem;
    flex-direction: column-reverse;
  }

  .nav {
    flex-direction: column;
    width: 80vw;
  }

  .socials {
    margin-bottom: 2rem;
  }
}
