.menu,
.menumain {
  --list-item-padding: 1rem;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  padding-inline-start: 0;
  font-weight: 600;
  font-size: 1.2rem;
  list-style-type: none;
  text-transform: uppercase;
}

.menu div li:not(.notlink),
.menumain div li:not(.notlink) {
  transition: color 0.2s ease-in;
  cursor: pointer;
  margin: 0 var(--list-item-padding);
}

.menu div li:not(.notlink):hover,
.menumain div li:not(.notlink):hover {
  color: var(--red);
}

.menu div li.notlink,
.menumain div li.notlink {
  margin-left: var(--list-item-padding);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 550px) {
  .menu {
    align-items: center;
    flex-direction: column;
  }

  .menu div li {
    margin: 0.5rem 0;
  }

  .menu div li.notlink {
    margin-left: 0;
  }

  .menumain {
    display: none;
  }
}
